html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

/* <<<<<====== header =======>>>>>>> */

header {
    z-index: 2;
    /* Siehe .donutBasketContainer, die größere Zahl überdeckt immer den anderen*/
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}


.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo h2 {
    font-size: 30px;
}

.logoStyle {
    width: 80px;
    padding-left: 20px;
    padding-right: 16px;
    border-radius: 50%;
}

header h2 {
    color: #ef6806;
}

header span {
    font-size: 16px;
    font-weight: bold;
}

.headerMenus {
    display: flex;
    align-items: center;
}

.headerMenus img {
    width: 48px;
    height: 48px;
    padding: 8px;
    margin-right: 16px;
}



/* <<<<<====== Container (Main) =======>>>>>>> */

.mainContainer {
    margin-top: 90px;
}

.backgroundStyle {
    width: 100%;
    max-height: 30vh;
    object-position: center;
    object-fit: cover;

}

/* <<<<<====== donutDescription =======>>>>>>> */

.descriptionAndMenuAndBackgroundContainer {}


.descriptionAndMenu {
    margin-left: 240px;
    margin-right: 575px;
    margin-top: -50px;
}

.donutDescriptionContainer {
    font-weight: 300;
}

.donutDescriptionContainer h1 {
    margin-top: 8px;
}

.logoDescriptionStyle {
    width: 100px;
    border-radius: 16%;
}

.donutDescription p {
    color: #0616ef;

}

.starRating {
    color: #ef6806;
    font-size: 20px !important;
    font-variation-settings: "FILL"1, "wght"300;
    margin: -3px;
}

.rating {
    display: flex;
}


.ratingText {
    margin-left: 8px;
    font-size: 14px;
    text-decoration: underline;
}

.barInfo {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: -4px;
    display: flex;
    align-items: center;
}

.barInfo span {
    padding-left: 5px;
    padding-right: 5px;
}

.storePromo {
    font-size: 16px;
}

/* <<<<<====== donutMenu =======>>>>>>> */

.donutMenuContainer {}

.menuStyle {
    margin-bottom: 16px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    padding: 7px 16px 7px 16px;
}

.dishInteract {
    display: flex;
}

.dishInteractButtonFromMenu {
    display: flex;
    height: 40px;
}

.productImgStyle {
    width: 110px;
    border-radius: 16%;
}

.cursor {
    cursor: pointer;
}

.closeImg {
    width: 32px;
    display: flex;
    align-items: center;
}

/* <<<<<====== DonutBasket =======>>>>>>> */




.donutBasketContainer {
    display: flex;
    overflow: auto;
    z-index: 1;
    /* Siehe header Class wegen z-index*/
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    flex-direction: column;
    background-color: white;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
}

.firstBasket {
    text-align: center;
    padding-left: 20px;
    margin-top: 100px;
}

.firstBasket p {
    margin: 0px;
}

.secondBasketWithDeleteID {}

.basketBigStyleImg {
    width: 95px;
}

.dishInBasketContainer {
    margin-top: 10px;
    width: 300px;
    box-shadow: 0 1px 1px rgba(53, 53, 53, 0.2);
    font-size: 18px;

}

.dishInBasketHead {
    display: flex;
    justify-content: space-between;
}

.dishName {
    font-weight: 500;
    text-decoration: underline;
    margin-left: 8px;
}

.dishInBasketAmount {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.dishInBasketAmountValue {
    display: flex;
    align-items: center;
}

.dishInBasketAmountValue span {
    margin-left: 12px;
    margin-right: 12px;
    color: green;
}

.dishInteractButtonFromBasket {
    height: 45px;
}

.basketBillContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blue;


    background-color: rgb(66, 216, 21);
    padding: 22px;
    margin: 21px;
    border-radius: 10px;
}

.test1 span {
    font-size: 18px;
}

.test2 span {
    font-size: 18px;
}

.test3 span {
    font-size: 18px;
    font-weight: bold;
}

.payOrderStyle {
    display: flex;
    column-gap: 30px;
    margin: 21px;
    padding: 22px;
    border-radius: 10px;
    background-color: rgb(67, 13, 194);
    font-size: 13px;
}

.test8{
    display: flex;
}

.test5{
    color: red;
}

.payOrderStyleNotice {
    font-size: 15px;
    background-color: rgb(196, 170, 4);
    padding: 22px;
    padding-bottom: 16px;
    margin: 21px;
    border-radius: 10px;
}


/* <<<<<====== Sonstige =======>>>>>>> */

.button {
    display: flex;
    width: 35px;
    column-gap: 20px;
}