

header {
    display: flex;
    justify-content:space-between;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
}




.logoStyle{
width: 100px;

}

.logo{
    display: flex;
}

.menuButton{
    display: flex;
}






.button {
    display: flex;
    width: 35px;
    column-gap: 20px;
}

.cursor {
    cursor: pointer;
}

.basketContainer {
    display: flex;
    column-gap: 20px;
}

.basketContainerStyle {
    border: solid 5px;
    width: 150px;
}

.basketStyle {
    padding-left: 40px;
}

.basketNoticeContainer {
    border: solid red 5px;
    padding: 50px;
    width: 400px;
}

.payOrderStyle {
    border: solid rgba(142, 151, 144, 0.767) 5px;
    padding: 30px;
}

.payOrderStyleNotice {
    border: solid rgba(142, 151, 144, 0.767) 5px;
    padding: 30px;
}
