body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(255, 136, 0);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer {
    background-color: rgb(255, 136, 0);
    height: 100px;
}

.imgLogo {
    width: 45px;
}

.content {
    display: flex;
}

.menu {
    height: 8000px;
    width: 70%;
}

.basket {
    height: 100vh;
    width: 30%;
    border-left: 1px solid rgba(0, 0, 0, 0.336);
    position: sticky;
    top: 0;
}

.menuCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px;
    padding: 12px;
    border: 2px solid rgba(0, 0, 0, 0.336);
    border-radius: 4px;
}

h2 {
    margin: 0;
}

.addArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

input {
    width: 30px;
    text-align: center;
}

.imgBasketAdd {
    cursor: pointer;
}

.basketCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 13px;
    padding: 12px;
    border: 2px solid rgba(0, 0, 0, 0.336);
    border-radius: 4px;
    gap: 10px;
}

.basketSpan {
    display: flex;
    align-items: center;
    gap: 5px;
}