html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

/* <<<<<====== header =======>>>>>>> */

header {
    z-index: 2;
    /* Siehe .donutBasketContainer, die größere Zahl überdeckt immer den anderen*/
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo h2 {
    font-size: 30px;
}

.logoStyle {
    width: 80px;
    padding-left: 20px;
    padding-right: 16px;
    border-radius: 50%;
}

header h2 {
    color: #ef6806;
}

header span {
    font-size: 16px;
    font-weight: bold;
}

.headerMenus {
    display: flex;
    align-items: center;
}

.headerMenus img {
    width: 48px;
    height: 48px;
    padding: 8px;
    margin-right: 16px;
}

/* <<<<<====== Container (Main) =======>>>>>>> */

.mainContainer {
    margin-top: 90px;
}

.backgroundStyle {
    width: 100%;
    max-height: 30vh;
    object-position: center;
    object-fit: cover;
}

/* <<<<<====== donutDescription =======>>>>>>> */

.descriptionAndMenu {
    margin-left: 240px;
    margin-right: 575px;
    margin-top: -50px;
}

.donutDescriptionContainer {
    font-weight: 300;
}

.donutDescriptionContainer h1 {
    margin-top: 8px;
}

.logoDescriptionStyle {
    width: 100px;
    border-radius: 16%;
}

.donutDescription p {
    color: #0616ef;
}

.starRating {
    color: #ef6806;
    font-size: 20px !important;
    font-variation-settings: "FILL"1, "wght"300;
    margin: -3px;
}

.rating {
    display: flex;
}

.ratingText {
    margin-left: 8px;
    font-size: 14px;
    text-decoration: underline;
}

.barInfo {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: -4px;
    display: flex;
    align-items: center;
}

.barInfo span {
    padding-left: 5px;
    padding-right: 5px;
}

.storePromo {
    font-size: 16px;
}

/* <<<<<====== donutMenu =======>>>>>>> */

.menuStyle {
    margin-bottom: 16px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    padding: 7px 20px 7px 20px;
}

.menuStyleSub p {
    margin-top: 0px;
    margin-bottom: 8px;

}

.menuStyle h3 {
    margin-bottom: 8px;
    margin-top: 0px;
}

.dishInteract {
    display: flex;
}

.dishInteractButtonFromMenu {
    display: flex;
    height: 40px;
}

.productImgStyle {
    width: 110px;
    border-radius: 16%;
}

.cursor {
    cursor: pointer;
}

.closeImg {
    width: 32px;
    display: flex;
    align-items: center;
}

/* <<<<<====== DonutBasket =======>>>>>>> */

.donutBasketContainer {
    display: flex;
    overflow: auto;
    z-index: 1;
    /* Siehe header Class wegen z-index*/
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    flex-direction: column;
    background-color: white;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
}

.firstBasket {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBasket p {
    margin: 0px;
}

.firstBasket span {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.secondBasket {
    padding-bottom: 30px;
}

.basketBigStyleImg {
    width: 95px;
}

.dishInBasketContainer {
    margin-top: 10px;
    width: 300px;
    box-shadow: 1px 1px 2px 2px rgba(53, 53, 53, 0.2);
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.disnInBasketContainer_2 {


    padding: 4px 15px 4px 15px;
}

.dishInBasketHead {
    display: flex;
    justify-content: space-between;
}

.inputStyle {
    width: 35px;
    margin-left: 15px;
}

.inputStyle::-webkit-inner-spin-button {
    /* einfacherer Weg????*/
    opacity: 1;
}

.dishName {
    font-weight: 500;
    text-decoration: underline;
}

.dishInBasketAmount {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.dishInBasketAmountValue {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dishInBasketAmountValue span {
    margin-left: 0px;
    margin-right: 0px;
    color: green;
}

.dishInteractButtonFromBasket {
    height: 45px;
}

.basketBillContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.basketBillContainer span {
    padding-bottom: 40px;
}

.basketBillContainerSubtotal span {
    font-size: 14px;
}

.basketBillContainerDeliver span {
    font-size: 14px;
}

.basketBillContainerTotal span {
    font-size: 24px;
    font-weight: bold;
}

.basketBillContainerTotal {
    padding-top: 5px;
}

.payOrderStyle_1 {
    display: flex;
    text-align: center;
    column-gap: 30px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    font-size: 13px;
    margin: 25px;
    /* STIMMMMMMMMMMMT NICHT*/
    padding: 10px;
}

.payOrderStyle_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    border: unset;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    width: 300px;
    height: 48px;
    background-color: #ef6806;
}

.payOrderStillToPay {
    color: red;
    display: flex;
    padding-top: 5px
}

.payOrderStyleNotice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(244 244 244);
    border-radius: 10px;
}


.payOrderSpan {
    padding-bottom: 10px;
}

.correctImg {
    width: 15px;
}

/* <<<<<====== Sonstige =======>>>>>>> */

.button {
    display: flex;
    width: 35px;
    column-gap: 20px;
}






@media  (max-width: 1500px) {

    .descriptionAndMenu {
        color: red;
    }

}